@page "/mytasks/edit"
@using Microsoft.EntityFrameworkCore
@using _2401377C.Domain
@inject IDbContextFactory<_2401377C.Data._2401377CContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>MyTask</h2>
<hr />
@if (MyTask is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="MyTask" OnValidSubmit="UpdateMyTask" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="MyTask.Id" value="@MyTask.Id" />
                <div class="mb-3">
                    <label for="taskname" class="form-label">TaskName:</label>
                    <InputText id="taskname" @bind-Value="MyTask.TaskName" class="form-control" />
                    <ValidationMessage For="() => MyTask.TaskName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="iscompleted" class="form-label">IsCompleted:</label>
                    <InputCheckbox id="iscompleted" @bind-Value="MyTask.IsCompleted" class="form-check-input" />
                    <ValidationMessage For="() => MyTask.IsCompleted" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="duedate" class="form-label">DueDate:</label>
                    <InputDate id="duedate" @bind-Value="MyTask.DueDate" class="form-control" />
                    <ValidationMessage For="() => MyTask.DueDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createddate" class="form-label">CreatedDate:</label>
                    <InputDate id="createddate" @bind-Value="MyTask.CreatedDate" class="form-control" />
                    <ValidationMessage For="() => MyTask.CreatedDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="MyTask.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => MyTask.CreatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/mytasks">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private MyTask? MyTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        MyTask ??= await context.MyTask.FirstOrDefaultAsync(m => m.Id == Id);

        if (MyTask is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateMyTask()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(MyTask!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!MyTaskExists(MyTask!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/mytasks");
    }

    private bool MyTaskExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.MyTask.Any(e => e.Id == id);
    }
}
